In [ ]:
# CS50 Final Project - Chris Huang
#
# This is the python notebook I used for data exploration, analysis, and visualization
# I did all the visulizatio here with python before deciding which graphs/insights I want to put on the website

In [2]:
# Import all the libraries I need

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
# Code to upload data files from local computer into the collab notebook
from google.colab import files
uploaded = files.upload()

Saving dataset2.csv to dataset2.csv

In [30]:
# DATA SOURCES:

# dataset1 is from United Nations Department of Economic and Social Affairs: https://population.un.org/wpp2019/Download/Standard/Mortality/
dataset1 = pd.read_excel("/content/dataset1.xlsx", index_col=0, header=16)

# dataset 2 is sourced from "https://ourworldindata.org/child-mortality" which compiled its data from
# the Global Burden of Disease Collaborative Network. Global Burden of Disease Study 2017 (GBD 2017) 
# Results. Seattle, United States: Institute for Health Metrics and Evaluation (IHME), 2018.
dataset2 = pd.read_csv("/content/dataset2.csv")

In [16]:
dataset1

         Variant Region, subregion, country or area *  ... 2010-2015  2015-2020
Index                                                  ...
1      Estimates                                WORLD  ...   46.3916     39.859
2      Estimates                UN development groups  ...       ...        ...
3      Estimates               More developed regions  ...   6.17601    5.33576
4      Estimates               Less developed regions  ...   50.8142    43.5023
5      Estimates            Least developed countries  ...   80.3456    67.7946
...          ...                                  ...  ...       ...        ...
251    Estimates                          Netherlands  ...     4.138      2.972
252    Estimates                          Switzerland  ...     4.399      3.788
253    Estimates                     NORTHERN AMERICA  ...   6.82742    6.68708
254    Estimates                               Canada  ...     5.281      5.088
255    Estimates             United States of America  ...     6.973      6.841

[255 rows x 20 columns]

In [31]:
dataset2

           Entity  ... Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)
0     Afghanistan  ...                                        5667.359368
1     Afghanistan  ...                                        5744.215629
2     Afghanistan  ...                                        6236.912651
3     Afghanistan  ...                                        8469.547312
4     Afghanistan  ...                                        9379.303256
...           ...  ...                                                ...
6463     Zimbabwe  ...                                        2648.103199
6464     Zimbabwe  ...                                        2566.125915
6465     Zimbabwe  ...                                        2513.834066
6466     Zimbabwe  ...                                        2454.411567
6467     Zimbabwe  ...                                        2398.151645

[6468 rows x 19 columns]

In [23]:
# INSIGHT 1: child mortality deaths are going down in general in the past decades

# Gets the row for global child deaths under 5 years old per 1000 live births
dataset1[dataset1["Region, subregion, country or area *"] == "WORLD"]

         Variant Region, subregion, country or area *  ... 2010-2015  2015-2020
Index                                                  ...
1      Estimates                                WORLD  ...   46.3916     39.859

[1 rows x 20 columns]

In [42]:
# Selects the causes of death for the world
dataset2[dataset2["Entity"] == "World"]

     Entity  ... Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)
6356  World  ...                                      525337.146689
6357  World  ...                                      523959.196406
6358  World  ...                                      523926.600785
6359  World  ...                                      523401.937792
6360  World  ...                                      519264.555011
6361  World  ...                                      516110.463667
6362  World  ...                                      511131.391345
6363  World  ...                                      510204.877117
6364  World  ...                                      509008.252108
6365  World  ...                                      504616.679937
6366  World  ...                                      498858.835080
6367  World  ...                                      492584.046824
6368  World  ...                                      485883.667291
6369  World  ...                                      482515.553202
6370  World  ...                                      476974.157295
6371  World  ...                                      470649.394468
6372  World  ...                                      464767.514996
6373  World  ...                                      456865.564391
6374  World  ...                                      449389.882708
6375  World  ...                                      439621.864986
6376  World  ...                                      430204.794299
6377  World  ...                                      421100.650983
6378  World  ...                                      411432.334104
6379  World  ...                                      399903.405988
6380  World  ...                                      386784.310018
6381  World  ...                                      375390.709588
6382  World  ...                                      361691.823909
6383  World  ...                                      349002.113494

[28 rows x 19 columns]

In [50]:
dataset2.columns

Index(['Entity', 'Code', 'Year',
       'Deaths - Malaria - Sex: Both - Age: Under 5 (Number)',
       'Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Neonatal preterm birth complications - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Congenital birth defects - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Measles - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Drowning - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Meningitis - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)'],
      dtype='object')

In [ ]:
# INSIGHT 2: The way child mortality rates are going down is unequal in different parts of the world

In [27]:
# Gets rows for child deaths (per 1000) separated by continent
dataset1.iloc[17:23]

         Variant Region, subregion, country or area *  ... 2010-2015  2015-2020
Index                                                  ...
18     Estimates                               Africa  ...   84.4073    71.0742
19     Estimates                                 Asia  ...    36.718    30.7364
20     Estimates                               Europe  ...   6.32305    5.01612
21     Estimates      Latin America and the Caribbean  ...   21.0411    19.0645
22     Estimates                     Northern America  ...   6.82742    6.68708
23     Estimates                              Oceania  ...   25.8335    22.5088

[6 rows x 20 columns]

In [39]:
# Gets rows for child deaths (per 1000) separated by economic status
dataset1.iloc[10:15]

         Variant Region, subregion, country or area *  ... 2010-2015  2015-2020
Index                                                  ...
11     Estimates                High-income countries  ...   6.06085     5.4348
12     Estimates              Middle-income countries  ...   43.2533    36.7589
13     Estimates        Upper-middle-income countries  ...   17.6301    14.7863
14     Estimates        Lower-middle-income countries  ...   58.0367    49.1865
15     Estimates                 Low-income countries  ...   83.8841     70.923

[5 rows x 20 columns]

In [40]:
dataset1.iloc[10:15].values

array([['Estimates', 'High-income countries', 'h', 1503, 'Income Group',
        1802, 72.8024718628726, 55.5294825037196, 45.5442083888863,
        37.2888254218912, 29.8715312507805, 24.0781630293351,
        18.9968741513984, 15.1919197542856, 12.1408188572632,
        9.57258172182498, 8.09396742286696, 7.04669701430327,
        6.06085351550701, 5.43479624603174],
       ['Estimates', 'Middle-income countries', 'h', 1517,
        'Income Group', 1802, 233.34850463938, 213.001729096657,
        199.632581010155, 167.279341365689, 145.355659514346,
        128.11891401225, 109.934619820031, 94.8833876115714,
        88.022557785156, 78.5350608300592, 66.6840305500066,
        53.9046022078615, 43.2532604685184, 36.7588859270457],
       ['Estimates', 'Upper-middle-income countries', 'h', 1502,
        'Income Group', 1517, 201.748494097836, 186.969056873598,
        182.718704667134, 137.022114897583, 102.936020812802,
        80.9463342408478, 64.1062252305605, 54.8699910110463,
        48.7421924733722, 40.8391766097699, 32.4297894650861,
        23.6792851573338, 17.6301472115685, 14.7863153629271],
       ['Estimates', 'Lower-middle-income countries', 'h', 1501,
        'Income Group', 1517, 270.173170828152, 240.428412847761,
        218.139081464416, 200.461036331239, 186.729248199481,
        166.032490870661, 144.966014222185, 128.076807183136,
        114.527902613781, 101.351792059827, 85.9726925964929,
        70.840972222788, 58.0366827615571, 49.1864529989018],
       ['Estimates', 'Low-income countries', 'h', 1500, 'Income Group',
        1802, 320.089331761923, 292.986149137884, 274.400453731336,
        252.328487649698, 233.470513144484, 218.358348512213,
        202.410776304542, 186.604651378888, 177.951308389,
        155.52671906853, 129.075779484348, 103.561619031889,
        83.8841400015707, 70.922992781142]], dtype=object)